[build]
builder = "NIXPACKS"
buildCommand = "cd Backend && pip install -r requeriment.txt" # El archivo de requerimientos está en la carpeta 'Backend'

[deploy]
startCommand = "cd Backend && uvicorn main:app --host 0.0.0.0 --port $PORT"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
# Solamente especifica la versión de Python. Nixpacks es lo suficientemente inteligente
# para incluir PIP junto con el intérprete.
nixpkgs = ["python39"]