[build]
builder = "NIXPACKS"
# CAMBIO CLAVE: Usar el binario explícito 'python3.9'
buildCommand = "cd Backend && python3.9 -m pip install -r requeriment.txt" 

[deploy]
startCommand = "cd Backend && uvicorn main:app --host 0.0.0.0 --port $PORT"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
# Asegúrate de que esto siga siendo 'python39'
nixpkgs = ["python39"]