[build]
# CAMBIO CLAVE: Usamos Dockerfile en lugar de NIXPACKS
builder = "DOCKERFILE"
# El resto de la configuración se maneja en el Dockerfile

[deploy]
# El startCommand del Dockerfile (CMD) anulará esto, pero lo dejamos simple.
startCommand = "" 
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

# Eliminar completamente la sección [nixpacks]