@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y color de texto global */
body {
  @apply bg-gray-900 text-white;
}

/* Clases personalizadas */
.input-field {
  @apply w-full p-2 rounded bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-red-500;
}

.button-primary {
  @apply w-full p-2 bg-red-600 hover:bg-red-700 rounded text-white font-semibold;
}
